body {
  background: linear-gradient(to bottom right, rgb(182, 129, 182), white);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  /* padding: 20px 0px; */
}

.badge {
  padding: 0.12em 0.4em;
  font-size: 0.5em;
  font-weight: 700;
}

.navbar-icon {
  height: 50px;
}

.cards-container {
  margin: 15px;
}

.card {
  width: 18rem;
}
.card:hover {
  cursor: pointer;
}

.lavander-color {
  background-color: lavender;
}

.login-container {
  position: relative;
  padding: 1rem;
  border: solid #dee2e6;
  border-width: 1px 0 0;
}

.imagen-item {
  width: fill-available;
  width: -moz-available;
  width: -webkit-fill-available;
}

@media (min-width: 576px) {
  .login-container {
    padding: 1.5rem;
    border-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
}

.cursor {
  cursor: pointer;
}
